/.idea/
/target/classes/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-archiver/
/target/maven-status/
/target/surefire-reports/
/target/test-classes/
/target/site/
/.allure/
/.allure/allure-2.15.0/
/.allure/allure-2.15.0/plugins/
/.allure/allure-2.15.0/plugins/behaviors-plugin/
/.allure/allure-2.15.0/plugins/packages-plugin/
/.allure/allure-2.15.0/plugins/screen-diff-plugin/
